create browser.json
{
  "name": "create browser",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "profile_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bb09a9dc-aa47-42a0-9198-e6361ab1c955",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "profileName": "shees",
        "additionalFields": {
          "solveCaptcha": true
        }
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "4916a876-f3e6-4e22-975e-c86a80ae6bad",
      "name": "Create a session",
      "credentials": {
        "airtopApi": {
          "id": "Sj4uOmEai3QWUwmS",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "getLiveView": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "f7d37d25-f3c8-4958-a2f6-db9800daeab2",
      "name": "Create a window",
      "credentials": {
        "airtopApi": {
          "id": "Sj4uOmEai3QWUwmS",
          "name": "Airtop account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create a session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a session": {
      "main": [
        [
          {
            "node": "Create a window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8063ebb2-62b6-4a26-bfc2-723a32b2f6fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79c2ea77c81d154ebaece23fd807b648e7622c880f7f875d95fd6ad17b7b89a6"
  },
  "id": "xErNV6etkB5ddBMF",
  "tags": []
}